
<div class="container">
  <form [formGroup]="taskForm">
    <div class="row">
      <div class="col-12 mt-4">
        <label class="form-label">Date</label>
        <input class="form-control" disabled />
      </div>
      <div class="col-12 mt-4">
        <label class="form-label">Description</label>
        <textarea
          formControlName="description"
          class="form-control align"
        ></textarea>
      </div>
      <div class="col-12 mt-4">
        <label class="form-label">Status</label>
        <select
          formControlName="options"
          class="form-select"
          aria-label="Default select example"
        >
          <option value="1">In Progress</option>
          <option value="2">Pending</option>
          <option value="3">Completed</option>
        </select>
      </div>
      <div class="col-12 mt-4">
        <button (click)="submitForm()" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>

